.container {
  width: 960px;
  margin: 0 auto;
}

#grid {
  border-collapse: collapse;
}

#grid td {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.snake_head {
  background-color: red;
}

.food {
  background-color: blue;
  border-radius: 50%;
}

<<<<<<< HEAD
#score{
  text-align: center;
  font-size: 200%;
=======
.super-food {
  background-color: green;
  border-radius: 50%;
>>>>>>> cd459a1673a0176fdb423d2b80049526f127cad7
}
